*.pfx
CSharp_MARC Editor/bin/
CSharp_MARC Editor/obj/
CSharp_MARC Tests/bin/
CSharp_MARC Tests/obj/
CSharp_MARC/obj/
*.suo
CSharp_MARC/bin/
packages/
*.snk
TestResults/
CSharp_MARC Demo/CSharp_MARC Demo/obj/
*.cer
.vs/
.vscode/
app.config
App.config
