<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id ="Microsoft.ReportViewer.Common" version="10.0.40219.1" />
  <package id ="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" />
  <package id ="Microsoft.Reporting.WinForms.v11" version="1.0.0" />
  <package id ="Microsoft.ReportViewer.2015" version="12.0.2.2402" />
  <package id ="Microsoft.Report.Viewer" version="11.0.0" />
</packages>